<div>
  <label for="nome">Nome:</label>
  <input type="text" [(ngModel)]="cliente.Nome">
</div>
<div>
  <label for="cpf">CPF:</label>
  <input type="text" [(ngModel)]="cliente.CPF">
</div>
<div>
  <label for="idade">Idade:</label>
  <input type="text" [(ngModel)]="cliente.Idade">
</div>
<div>
  <label for="telefone">Telefone:</label>
  <input type="text" [(ngModel)]="cliente.Telefone">
</div>
<div>
  <span *ngIf="showMessage" style="color:red" >{{message}}<br></span>
  <button (click)="onSubmit()">Salvar</button>
</div>

<p>
  {{cliente | json}}
</p>
